#firstname,
#password {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid grey;
}

.login {
  background-color: #0067b8;
  width: 120px;
  color: white;
  border-radius: 0%;
  padding: 4px 30px 4px 30px;
  margin-top: 1rem;
}

.login:hover {
  background-color: #005da6;
  color: white;
}

.showcase {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin-left: 36%;
  width: 500px;
  padding: 10rem;
  margin-top: 5rem;
}

.img-fluid {
  margin-left: 0.3rem;
}

.container {
  width: 600px;
}

.foot {
  margin-top: 12rem;
  font-size: 0.5rem;
}
